<div class="header text-center">
  <h1>SNACKMATE</h1>
  <img
    id="sidebarBtn"
    class="img-fluid"
    (click)="toggleSidebar()"
    src="../../assets/Menu.png"
    alt=""
    srcset=""
  />
</div>
<div class="sideMenu" id="sideBar">
  <a href="#" (click)="toggleSidebar()" class="closeBtn"
    ><i class="fas fa-times"></i
  ></a>
  <div class="d-flex" id="userArea">
    <img class="img-fluid" id="profilePic" src="../../assets/boy.png" alt="" />
    <h4>{{ username }}</h4>
  </div>
  <div class="navButtons">
    <a href="#">Login <i class="fas fa-sign-in-alt"></i></a>
    <a href="#">Profile <i class="fas fa-user"></i></a>
    <a href="#">Feed <i class="fas fa-list-alt"></i></a>
    <a href="#">Search <i class="fas fa-search"></i></a>
    <a href="#">Logout <i class="fas fa-sign-in-alt"></i></a>
  </div>
</div>
<span class="mobile"></span>
