$primaryColour: #e26d6d;
$darkGrey: #3f3f3fd1;

.header {
  background-color: $primaryColour;
  box-shadow: #0000003b 0px 5px 11px 1px;
  height: 56px;
  margin: 0 -15px;
  i {
    width: 23.1px;
    cursor: pointer;
    position: relative;
    top: 0.5em;
    right: 1em;
    font-size: 1.7em;
    float: right;
    color: white;
  }
  a {
    font-family: 'TwCenMT_Bold';
    color: white;
    margin-bottom: 0;
    font-size: 31px;
    text-decoration: none;
    position: relative;
    text-shadow: 0px 3px 8px #00000038;
    top: 0.14em;
    left: 0.4em;
    cursor: pointer;
  }
}
