$primaryColour: #e26d6d;
$darkGrey: #3f3f3fd1;
$mobileWidth: 450px;

.title {
  font-size: 1.4em;
  padding: 0.3em;
  background-color: #6da8e2;
  margin: 0 -15px 0.5em;
  font-family: TwCenMT_Bold;
}

.alert {
  transition: 1s;
}

label {
  font-family: TWCenMT;
  color: $darkGrey;
  font-size: 1.3em;
  .custom-file-label {
    font-size: 1em !important;
  }
}
input {
  .custom-file-input {
    font-size: 1em !important;
    width: 50%;
  }
}

.invalid-input {
  border: 1px solid $primaryColour;
  transition: 1s;
}

.imageArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  img {
    width: 326px;
    height: 207px;
    background-color: $darkGrey;
  }
  #deletePic {
    position: relative;
    bottom: 5em;
    font-size: 2.7em;
    left: 3.5em;
    color: #e36664;
    cursor: pointer;
  }
}

.builder {
  margin: auto;
  width: 35%;
  .custom-file {
    margin-bottom: 1em;
  }
  .custom-file-label {
    overflow: hidden;
  }
}
.buttonBar {
  width: 100%;
  text-align: center;
  button {
    margin: 0.5em;
    width: 40%;
  }
}

.repositionButton {
  margin-top: -43.2px !important;
}

@media screen and (max-width: $mobileWidth) {
  .builder {
    width: 100%;
  }
  button {
    width: 100% !important;
    margin: 0.5em 0 !important;
  }
}
