<h1 class="title text-center text-white">RECIPE BUILDER</h1>

<div class="progressContainer">
  <div class="progressBar nav nav-tabs">
    <a
      class="nav-link"
      routerLink="/new-recipe"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Summary</a
    >
    <a class="nav-link" routerLink="ingredients" routerLinkActive="active"
      >Ingredients</a
    >
    <a class="nav-link" routerLink="instructions" routerLinkActive="active"
      >Instructions</a
    >
  </div>
</div>
<div [@routeAnimations]="prepareRoute(outlet)" class="builder">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
