@import "../../styles";
$mq-responsive: true;
$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
  mobileLandscape: 480px
);

@import "sass-mq";

$mobileWidth: 450px;

.title {
  font-size: 1.4em;
  padding: 0.3em;
  background-color: #6da8e2;
  margin: 0 -15px;
  font-family: TwCenMT_Bold;
}

.progressContainer {
  box-shadow: #0000000a 0px 5px 11px 1px;
  margin: 0 -15px;
  background-color: white;
}

.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    pointer-events: none;
    text-decoration: none;
    font-family: TWCenMT;
    font-size: 1.4rem;
    color: $primaryColour;
    display: flex;
    align-items: center;
    height: 1.5em;
    cursor: default;
    border-radius: 0px;
  }
  .nav-link:not(.active):hover {
    border-color: rgba(255, 255, 255, 0) !important;
  }
  .active {
    color: #6da8e2;
  }
}

.builder {
  position: relative;
  text-align: center;
  margin: auto;
}

@include mq($until: tablet) {
  .builder {
    width: 100%;
  }
}
@include mq(tablet, desktop) {
  .builder {
    width: 65%;
  }
}
@include mq(desktop) {
  .builder {
    width: 50%;
  }
}
