@import '../../styles';
$mobileWidth: 450px;

#recipeBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  app-recipe-card {
    margin: 0 1em;
  }
}

@media screen and (max-width: $mobileWidth) {
  #recipeBoard {
    flex-direction: column;
    app-recipe-card {
      margin: 0 !important;
    }
  }
}
@media screen and (max-width: 320px) {
  #recipeBoard {
    app-recipe-card {
      margin: 0 !important;
    }
  }
}
