<div class="sideMenu" id="sideBar">
  <a href="#" (click)="onClose($event)" class="closeBtn"
    ><i class="fas fa-times"></i
  ></a>
  <div class="d-flex" id="userArea">
    <img class="img-fluid" id="profilePic" src="../../assets/user.png" alt="" />
    <h4>{{ user.username }}</h4>
  </div>
  <div class="navButtons">
    <a routerLink="" (click)="onNav()"
      >Login <i class="fas fa-sign-in-alt"></i
    ></a>
    <a routerLink="" (click)="onNav()">Profile <i class="fas fa-user"></i></a>
    <a routerLink="" (click)="onNav()">Feed <i class="fas fa-list-alt"></i></a>
    <a routerLink="" (click)="onNav()">Search <i class="fas fa-search"></i></a>
    <a routerLink="" (click)="onNav()"
      >Logout <i class="fas fa-sign-in-alt"></i
    ></a>
    <a routerLink="/new-recipe" (click)="onNav()"
      >Create Recipe <i class="fas fa-pen-square"></i
    ></a>
  </div>
</div>
<span class="mobile"></span>
