<br/>

<div class="container">
  <div class="row">
    <div class="col-sm">
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://lh3.googleusercontent.com/-kJfnMVPNzC4/AAAAAAAAAAI/AAAAAAAAWRE/o2Px2oWmzz8/photo.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Luke Beach <span class="badge badge-secondary">3 Recipes</span></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Follow <span class="badge badge-secondary">5</span></a>
  </div>
</div>
    </div>
    <div class="col-sm">
	<h5>Luke Beach's latest recipes</h5>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Butter Chicken</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">A beautiful Indian butter chicken curry that ticks all of the boxes</p>
    <small><span class="badge badge-pill badge-primary">1624 calories</span></small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Katsu Chicken Curry</h5>
      <small class="text-muted">a month ago</small>
    </div>
    <p class="mb-1">Dolche Vitas own Katsu Chicken Curry, beautifully presented and now you can make it at home!</p>
    <small class="text-muted"><span class="badge badge-pill badge-primary">811 calories</span></small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Healthy Tofu Snack</h5>
      <small class="text-muted">a month ago</small>
    </div>
    <p class="mb-1">The best tofu recipe will make lovers out of even the most staunch tofu haters! Seven easy ingredients to create this snack!</p>
    <small class="text-muted"><span class="badge badge-pill badge-primary">392 calories</span></small>
  </a>
</div>
    </div>

  </div>
</div>