/* You can add global styles to this file, and also import other style files */
// Primary Colours
$lightPrimary: #f28a8b;
$high-mid-primary: #db6b6d;
$primaryColour: #f25e60;
$low-mid-primary: #db5557;
$darkPrimary: #b9494b;

// Greys - Whites
$white: #ffffff;
$high-mid-grey: #f7f7f7;
$grey: #ededed;
$low-mid-grey: #adadad;
$darkGrey: #333333e0; // for 'black' text
